py~=1.11.0
colorama~=0.4.4
pytest~=7.0.1
h11~=0.13.0
pip~=22.0.3
attrs~=21.4.0
toml~=0.10.2
cryptography~=36.0.1
trio~=0.19.0
outcome~=1.1.0
sniffio~=1.2.0
sortedcontainers~=2.4.0
cffi~=1.15.0
idna~=3.3
pluggy~=1.0.0
iniconfig~=1.1.1
atomicwrites~=1.4.0
certifi~=2021.10.8
selenium~=4.1.0
urllib3~=1.26.8
pyparsing~=3.0.7
pycparser~=2.21
setuptools~=58.1.0
wsproto~=1.0.0
